.svn
.DS_Store
.thumbs.db
node_modules
/WpfKiosk/packages

# Quasar core related directories
.quasar
/dist

# Cordova related directories and files
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www

# Capacitor related directories and files
/src-capacitor/www
/src-capacitor/node_modules

# BEX related directories and files
/src-bex/www
/src-bex/js/core

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
git(2).egg
src/pages/Table/MenuList.vue
src/pages/Table/MenuList.vue


#misc files
IMS.rar
git(2).egg
IMS.zip
Menu - Main.png
Menu - Main.png
Menu - Order Detail.png
Menu - Order.png
Screenshot 2023-12-11 at 18-50-50 Quasar App.png
Screenshot 2023-12-11 at 18-51-03 Quasar App.png
Screenshot 2023-12-11 at 18-51-21 Quasar App.png
Screenshot 2023-12-11 at 18-51-32 Quasar App.png
Screenshot 2023-12-11 at 18-51-42 Quasar App.png