// app global css in SCSS form
@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-style: normal;
    src: url(./font/pretendard/Pretendard-Regular.woff2) format('woff2'),
        url(./font/pretendard/Pretendard-Light.woff) format('woff'),
        url(./font/pretendard/Pretendard-Light.ttf) format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-style: normal;
    src: url(./font/pretendard/Pretendard-Regular.woff2) format('woff2'),
        url(./font/pretendard/Pretendard-Regular.woff) format('woff'),
        url(./font/pretendard/Pretendard-Regular.ttf) format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-style: normal;
    src: url(./font/pretendard/Pretendard-Medium.woff2) format('woff2'),
        url(./font/pretendard/Pretendard-Medium.woff) format('woff'),
        url(./font/pretendard/Pretendard-Medium.ttf) format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-style: normal;
    src: url(./font/pretendard/Pretendard-Bold.woff2) format('woff2'),
        url(./font/pretendard/Pretendard-Bold.woff) format('woff'),
        url(./font/pretendard/Pretendard-Bold.ttf) format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-style: normal;
    src: url(./font/pretendard/Pretendard-ExtraBold.woff2) format('woff2'),
        url(./font/pretendard/Pretendard-ExtraBold.woff) format('woff'),
        url(./font/pretendard/Pretendard-ExtraBold.ttf) format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-style: normal;
    src: url(./font/pretendard/Pretendard-Black.woff2) format('woff2'),
        url(./font/pretendard/Pretendard-Black.woff) format('woff'),
        url(./font/pretendard/Pretendard-Black.ttf) format("truetype");
    font-display: swap;
}
